{% extends 'base.html.twig' %}

{% block title %}Base{% endblock %}

{% block body %}
    <h1>Base</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ base.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ base.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ base.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_base_index') }}">back to list</a>

    <a href="{{ path('app_base_edit', {'id': base.id}) }}">edit</a>

    {{ include('base/_delete_form.html.twig') }}
{% endblock %}
