{{ form_start(form) }}
    {{ form_row(form.name, { 'label': 'Наименование товара' }) }}
    
    {{ form_widget(form) }}
    
    <br>
    <button class="btn btn-primary" style="max-width: 200px">Сохранить</button>
    <a class="btn btn-default" href="{{ path('app_product_index') }}">Отмена</a>
{{ form_end(form) }}

